.sensors{
    display: flex;
    align-items: center;
    justify-content: center;

    &-list {
        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            
            h1 {
                margin-bottom: 0;
            }
        }

        .sensor-name {
            margin-bottom: 30px;
            font-weight: 600;
        }
    }
}