.devices{
    display: flex;
    align-items: center;
    justify-content: center;

    &-list {
        
    }

    .no-results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        margin-top: 70px;
    }
}