.setup-device-step-one {
    display: flex;
    justify-content: center;
    flex-flow: column;

    .wifi-icon {
        max-width: 64px;
        margin: 0 auto;
    }

    .button {
        margin-top: 90px;
    }
}