.user-account-menu {
    .account {
        position: relative;

        &-btn {
            display: flex;
            align-items: center;
            cursor: pointer;

            span {
                padding-right: 10px;
                font-size: 1rem;
            }

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #1BB55C;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &-options {
            width: 180px;
            box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            padding: 10px 8px;
            position: absolute;
            text-align: right;
            margin-top: 10px;
            right: 0;

            a {
                text-decoration: none;
                color: inherit;
                transition: color .2s ease;


                &:hover  {
                    color: var(--primary-color);
                    transition: color .2s ease;
                }
            }
        }
    }
}